lampeControlInterface.json
[
    {
        "id": "dd3d47f5.74935",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8fa890c8.061eb8",
        "type": "mqtt out",
        "z": "dd3d47f5.74935",
        "name": "",
        "topic": "lampe_1",
        "qos": "",
        "retain": "",
        "broker": "c7289251.327808",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "bbdf4280.8a9898",
        "type": "function",
        "z": "dd3d47f5.74935",
        "name": "pass state",
        "func": "\n    if (msg.payload)\n    {\n        msg.state = \"ON\"\n        msg.nextState = \"OFF\"\n        msg.topic = \"state\"\n        return msg\n    }\n    if (!msg.payload)\n    {\n        msg.state = \"OFF\"\n        msg.nextState = \"ON\"\n        msg.topic = \"state\"\n        return msg\n    }\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1635d594.cac5ea",
        "type": "ui_switch",
        "z": "dd3d47f5.74935",
        "name": "OFF / ON",
        "label": "OFF / ON",
        "tooltip": "",
        "group": "220abb7.3a6e5c4",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "lampe_switch",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "bbdf4280.8a9898",
                "b6f3a006.47087"
            ]
        ]
    },
    {
        "id": "dd315a7e.bb3728",
        "type": "mqtt in",
        "z": "dd3d47f5.74935",
        "name": "",
        "topic": "lampe_1_ack",
        "qos": "2",
        "broker": "c7289251.327808",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "46dd8c61.d991fc",
                "e950e8de.b0b288",
                "7fd983b0.45a3a4"
            ]
        ]
    },
    {
        "id": "46dd8c61.d991fc",
        "type": "ui_template",
        "z": "dd3d47f5.74935",
        "group": "220abb7.3a6e5c4",
        "name": "",
        "order": 2,
        "width": "2",
        "height": "1",
        "format": "\n<style>\n    #circle {\n      width: 50px;\n      height: 50px;\n      -webkit-border-radius: 25px;\n      -moz-border-radius: 25px;\n      border-radius: 25px;\n      background: grey;\n    }\n</style>\n\n<script>\n\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            \n            if(msg.topic === \"lampe_switch\")\n            {\n                var state = msg.payload\n                $('#circle').css('background', \"lightGrey\")\n            }\n            if(msg.topic === \"lampe_1_ack\")\n            {\n                if (msg.payload == \"true\")\n                {\n                    $('#circle').css('background', \"limeGreen\")\n                }\n                else\n                {\n                    $('#circle').css('background', \"tomato\")\n                }\n            }\n        });\n    })(scope);\n    \n</script>\n<div id=\"circle\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 520,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e950e8de.b0b288",
        "type": "function",
        "z": "dd3d47f5.74935",
        "name": "Ack and state",
        "func": "if (msg.topic == \"lampe_1_ack\")\n{\n    flow.set(\"lampe_1_ack\", true)\n    if (msg.payload == \"true\")\n    {\n        msg.payload = true\n    }\n    else\n    {\n        msg.payload = false\n    }\n    return msg\n}\n\nif (msg.topic == \"lampe_1_state\")\n{\n    flow.set(\"lampe_1_state\", true)\n    if (msg.payload == \"true\")\n    {\n        msg.payload = true\n    }\n    else\n    {\n        msg.payload = false\n    }\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "1635d594.cac5ea"
            ]
        ]
    },
    {
        "id": "b6f3a006.47087",
        "type": "function",
        "z": "dd3d47f5.74935",
        "name": "filter ack ",
        "func": "if (flow.get(\"lampe_1_ack\"))\n{\n    flow.set(\"lampe_1_ack\", false)\n}\n\nelse\n{\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "8fa890c8.061eb8",
                "46dd8c61.d991fc"
            ]
        ]
    },
    {
        "id": "5f77ab35.659bec",
        "type": "ui_dropdown",
        "z": "dd3d47f5.74935",
        "name": "hour picker",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "220abb7.3a6e5c4",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "hour",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "cbcc165d.21d8a"
            ]
        ]
    },
    {
        "id": "e82a2fe0.910258",
        "type": "ui_dropdown",
        "z": "dd3d47f5.74935",
        "name": "minute picker",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "220abb7.3a6e5c4",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            },
            {
                "label": "",
                "value": 24,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 26,
                "type": "num"
            },
            {
                "label": "",
                "value": 27,
                "type": "num"
            },
            {
                "label": "",
                "value": 28,
                "type": "num"
            },
            {
                "label": "",
                "value": 29,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 31,
                "type": "num"
            },
            {
                "label": "",
                "value": 32,
                "type": "num"
            },
            {
                "label": "",
                "value": 33,
                "type": "num"
            },
            {
                "label": "",
                "value": 34,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 36,
                "type": "num"
            },
            {
                "label": "",
                "value": 37,
                "type": "num"
            },
            {
                "label": "",
                "value": 38,
                "type": "num"
            },
            {
                "label": "",
                "value": 39,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 41,
                "type": "num"
            },
            {
                "label": "",
                "value": 42,
                "type": "num"
            },
            {
                "label": "",
                "value": 43,
                "type": "num"
            },
            {
                "label": "",
                "value": 44,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 46,
                "type": "num"
            },
            {
                "label": "",
                "value": 47,
                "type": "num"
            },
            {
                "label": "",
                "value": 48,
                "type": "num"
            },
            {
                "label": "",
                "value": 49,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 51,
                "type": "num"
            },
            {
                "label": "",
                "value": 52,
                "type": "num"
            },
            {
                "label": "",
                "value": 53,
                "type": "num"
            },
            {
                "label": "",
                "value": 54,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            },
            {
                "label": "",
                "value": 56,
                "type": "num"
            },
            {
                "label": "",
                "value": 57,
                "type": "num"
            },
            {
                "label": "",
                "value": 58,
                "type": "num"
            },
            {
                "label": "",
                "value": 59,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "minute",
        "x": 640,
        "y": 440,
        "wires": [
            [
                "cbcc165d.21d8a"
            ]
        ]
    },
    {
        "id": "c49a402f.695378",
        "type": "ui_button",
        "z": "dd3d47f5.74935",
        "name": "",
        "group": "220abb7.3a6e5c4",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "ok",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.validationColor}}",
        "icon": "",
        "payload": "OK",
        "payloadType": "str",
        "topic": "ok",
        "x": 610,
        "y": 500,
        "wires": [
            [
                "cbcc165d.21d8a"
            ]
        ]
    },
    {
        "id": "12d16ece.c0d439",
        "type": "ui_text",
        "z": "dd3d47f5.74935",
        "group": "220abb7.3a6e5c4",
        "order": 5,
        "width": "1",
        "height": "1",
        "name": "AT",
        "label": "at",
        "format": "",
        "layout": "row-center",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "cbcc165d.21d8a",
        "type": "function",
        "z": "dd3d47f5.74935",
        "name": "set delay OR reset",
        "func": "\n\nif(msg.topic == \"state\")\n{\n    context.set(\"nextState\", msg.payload)\n\n}\nif (msg.topic ==\"cancel\")\n{\n    msg = {topic: \"cancel\", reset : true }\n    return msg\n}\n\nif (msg.topic == \"hour\")\n{\n    context.set(\"hour\", msg.payload)\n}\nif (msg.topic==\"minute\")\n{\n    context.set(\"minute\", msg.payload)\n}\n\n\nif (msg.topic == \"ok\")\n{\n    dateTarget = new Date()\n    dateTarget.setHours(context.get(\"hour\"))\n    dateTarget.setMinutes(context.get(\"minute\"))\n    \n    dateNow = new Date()\n    dateNow.setTime(dateNow.getTime() + 3600000)\n    \n    //date.setTime( date.getTime() + days * 86400000 );\n\n    if(dateNow.getTime() > dateTarget.getTime())\n    {\n        dateTarget.setTime(dateTarget.getTime() + 86400000)\n    }\n    \n    dateTarget.setTime(dateTarget.getTime() - dateNow.getTime())\n    delay = dateTarget.getHours() * 60 * 60 * 1000 + dateTarget.getMinutes() * 1000 * 60\n    \n    if(!isNaN(delay))\n    {\n    //msg.reset = true\n    if (delay === 0)\n    {\n        delay = 60 * 1000\n    }\n    msg.topic = \"delayOk\"\n    msg.delay = delay\n    msg.dateTarget = dateTarget\n    msg.payload = context.get(\"nextState\")\n    msg.validationColor = \"#0094ce\"\n    return msg;\n    }\n    else\n    {\n        msg = {topic : \"delayNOT\", validationColor : \"lightGrey\"}\n        return msg\n    }\n\n\n}\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 400,
        "wires": [
            [
                "c49a402f.695378",
                "1c40def3.ea04d9",
                "1115078a.a2c108",
                "6f2907ed.d3026"
            ]
        ]
    },
    {
        "id": "24947a8.0861406",
        "type": "delay",
        "z": "dd3d47f5.74935",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1260,
        "y": 400,
        "wires": [
            [
                "18aaacd4.ccf69b"
            ]
        ]
    },
    {
        "id": "18aaacd4.ccf69b",
        "type": "mqtt out",
        "z": "dd3d47f5.74935",
        "name": "",
        "topic": "lampe_1",
        "qos": "",
        "retain": "",
        "broker": "c7289251.327808",
        "x": 1420,
        "y": 400,
        "wires": []
    },
    {
        "id": "aa77d25f.5e89d8",
        "type": "inject",
        "z": "dd3d47f5.74935",
        "name": "",
        "topic": "",
        "payload": "state",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d65c60d4.1afab8"
            ]
        ]
    },
    {
        "id": "d65c60d4.1afab8",
        "type": "mqtt out",
        "z": "dd3d47f5.74935",
        "name": "",
        "topic": "lampe_1",
        "qos": "",
        "retain": "",
        "broker": "c7289251.327808",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "1fa174dd.df9d7b",
        "type": "mqtt in",
        "z": "dd3d47f5.74935",
        "name": "",
        "topic": "lampe_1_state",
        "qos": "2",
        "broker": "c7289251.327808",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "e950e8de.b0b288",
                "7fd983b0.45a3a4"
            ]
        ]
    },
    {
        "id": "37a4f184.c67de6",
        "type": "inject",
        "z": "dd3d47f5.74935",
        "name": "init pulse",
        "topic": "init",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "23d4af77.8a0ab"
            ]
        ]
    },
    {
        "id": "23d4af77.8a0ab",
        "type": "function",
        "z": "dd3d47f5.74935",
        "name": "int H, M & counter",
        "func": "\ndateNow = new Date(msg.payload)\n\ndateNow.setTime(dateNow.getTime())\n\nif (dateNow.getHours()==23)\n{\n    msg1 = {payload : 0}\n}\nelse\n{\n    msg1 = {payload : dateNow.getHours()+1}\n}\nmsg2 = {payload : dateNow.getMinutes()}\nmsg3 = {payload : \"\"}\nmsg4 = {payload : false}\n\nreturn [msg1, msg2, msg3, msg4]",
        "outputs": 4,
        "noerr": 0,
        "x": 330,
        "y": 420,
        "wires": [
            [
                "5f77ab35.659bec"
            ],
            [
                "e82a2fe0.910258"
            ],
            [
                "2d4e8a62.ff9aee"
            ],
            [
                "3c62ac82.be3fd4"
            ]
        ]
    },
    {
        "id": "4722712f.44406",
        "type": "inject",
        "z": "dd3d47f5.74935",
        "name": "",
        "topic": "timer",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "1c40def3.ea04d9"
            ]
        ]
    },
    {
        "id": "1c40def3.ea04d9",
        "type": "function",
        "z": "dd3d47f5.74935",
        "name": "conter and cancel",
        "func": "if(msg.topic == \"delayOk\")\n{\n    context.set(\"count\", true)\n    if(msg.payload)\n    {\n        context.set(\"nextState\", \"ON\")\n    }\n    else\n    {\n        context.set(\"nextState\", \"OFF\")\n    }\n    context.set(\"dateTarget\", msg.dateTarget)\n}\n\nif (msg.topic == \"timer\" && context.get(\"count\"))\n{\n    time = new Date(context.get(\"dateTarget\") - 1000)\n    context.set(\"dateTarget\",time.getTime())\n    \n    if ((time.getHours() + time.getMinutes() + time.getSeconds()<=0) && context.get(\"count\"))\n    {\n        context.set(\"count\", false)\n        msg.payload =\"\"\n        msg.cancelColor = \"white\"\n        msg.enable = false\n        return msg\n    }\n    else \n    {\n        msg.nextState = context.get(\"nextState\") +\" IN :\"\n        msg.payload = time.getHours() +\":\"+ time.getMinutes()+\":\"+time.getSeconds()\n        msg.enable = true\n        msg.cancelColor = \"tomato\"\n        return msg\n    }\n}\n\nif (msg.topic == \"cancel\")\n{\n    context.set(\"count\", false)\n    msg.payload =\"\"\n    msg.enable = false\n    msg.cancelColor = \"white\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 560,
        "wires": [
            [
                "2d4e8a62.ff9aee",
                "ef4b3fe2.5981e"
            ]
        ]
    },
    {
        "id": "2d4e8a62.ff9aee",
        "type": "ui_text",
        "z": "dd3d47f5.74935",
        "group": "220abb7.3a6e5c4",
        "order": 9,
        "width": "6",
        "height": "1",
        "name": "conter",
        "label": "{{msg.nextState}}",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "ef4b3fe2.5981e",
        "type": "ui_button",
        "z": "dd3d47f5.74935",
        "name": "cancel",
        "group": "220abb7.3a6e5c4",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "X",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.cancelColor}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "cancel",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "cbcc165d.21d8a"
            ]
        ]
    },
    {
        "id": "1115078a.a2c108",
        "type": "function",
        "z": "dd3d47f5.74935",
        "name": "reset",
        "func": "if(msg.topic == \"delayOk\" || msg.topic == \"cancel\")\n{\nmsg = {reset : true}\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "24947a8.0861406"
            ]
        ]
    },
    {
        "id": "6f2907ed.d3026",
        "type": "delay",
        "z": "dd3d47f5.74935",
        "name": "pass ",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "24947a8.0861406"
            ]
        ]
    },
    {
        "id": "3c62ac82.be3fd4",
        "type": "ui_dropdown",
        "z": "dd3d47f5.74935",
        "name": "ON /OFF",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "220abb7.3a6e5c4",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "ON",
                "value": true,
                "type": "bool"
            },
            {
                "label": "OFF",
                "value": false,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "state",
        "x": 620,
        "y": 320,
        "wires": [
            [
                "cbcc165d.21d8a"
            ]
        ]
    },
    {
        "id": "7fd983b0.45a3a4",
        "type": "debug",
        "z": "dd3d47f5.74935",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "c7289251.327808",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "1st message",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "last message",
        "willTopic": "",
        "willQos": "0",
        "willPayload": "error message"
    },
    {
        "id": "220abb7.3a6e5c4",
        "type": "ui_group",
        "z": "",
        "name": "Lampe",
        "tab": "305464f1.40ef9c",
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "305464f1.40ef9c",
        "type": "ui_tab",
        "z": "",
        "name": "Bedroom",
        "icon": "fa-bed",
        "disabled": false,
        "hidden": false
    }
]