Node-red/cofeeControlInterface.json
[
    {
        "id": "12aef947.04cf3f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f38515a8.b9e6e8",
        "type": "mqtt out",
        "z": "12aef947.04cf3f",
        "name": "",
        "topic": "coffee",
        "qos": "",
        "retain": "",
        "broker": "c7289251.327808",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "b85095cb.1af6a",
        "type": "function",
        "z": "12aef947.04cf3f",
        "name": "pass state",
        "func": "\n    if (msg.payload)\n    {\n        msg.state = \"ON\"\n        msg.nextState = \"OFF\"\n        msg.topic = \"state\"\n        return msg\n    }\n    if (!msg.payload)\n    {\n        msg.state = \"OFF\"\n        msg.nextState = \"ON\"\n        msg.topic = \"state\"\n        return msg\n    }\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "23e5d460.e4a94c",
                "61e22b79.7d6ac4"
            ]
        ]
    },
    {
        "id": "20fffbcc.9a54ec",
        "type": "ui_switch",
        "z": "12aef947.04cf3f",
        "name": "OFF / ON",
        "label": "OFF / ON",
        "tooltip": "",
        "group": "96fe7d79.568de8",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "lampe_switch",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 520,
        "y": 120,
        "wires": [
            [
                "b85095cb.1af6a",
                "c91ed5f5.b46698"
            ]
        ]
    },
    {
        "id": "84506c4d.009de",
        "type": "mqtt in",
        "z": "12aef947.04cf3f",
        "name": "",
        "topic": "coffee_ack",
        "qos": "2",
        "broker": "c7289251.327808",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "7cca952c.c5c63c",
                "9f6ee0ef.db0c48"
            ]
        ]
    },
    {
        "id": "7cca952c.c5c63c",
        "type": "ui_template",
        "z": "12aef947.04cf3f",
        "group": "96fe7d79.568de8",
        "name": "",
        "order": 2,
        "width": "2",
        "height": "1",
        "format": "\n<style>\n    #circle {\n      width: 50px;\n      height: 50px;\n      -webkit-border-radius: 25px;\n      -moz-border-radius: 25px;\n      border-radius: 25px;\n      background: grey;\n    }\n</style>\n\n<script>\n\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            \n            if(msg.topic === \"lampe_switch\")\n            {\n                var state = msg.payload\n                $('#circle').css('background', \"lightGrey\")\n            }\n            if(msg.topic === \"coffee_ack\")\n            {\n                if (msg.payload == \"true\")\n                {\n                    $('#circle').css('background', \"limeGreen\")\n                }\n                else\n                {\n                    $('#circle').css('background', \"tomato\")\n                }\n            }\n        });\n    })(scope);\n    \n</script>\n<div id=\"circle\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9f6ee0ef.db0c48",
        "type": "function",
        "z": "12aef947.04cf3f",
        "name": "Ack and state",
        "func": "if (msg.topic == \"coffee_ack\")\n{\n    flow.set(\"coffee_ack\", true)\n    if (msg.payload == \"true\")\n    {\n        msg.payload = true\n    }\n    else\n    {\n        msg.payload = false\n    }\n    return msg\n}\n\nif (msg.topic == \"coffee_state\")\n{\n    flow.set(\"coffee_state\", true)\n    if (msg.payload == \"true\")\n    {\n        msg.payload = true\n    }\n    else\n    {\n        msg.payload = false\n    }\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "20fffbcc.9a54ec"
            ]
        ]
    },
    {
        "id": "c91ed5f5.b46698",
        "type": "function",
        "z": "12aef947.04cf3f",
        "name": "filter ack ",
        "func": "if (flow.get(\"coffee_ack\"))\n{\n    flow.set(\"coffee_ack\", false)\n}\n\nelse\n{\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 120,
        "wires": [
            [
                "f38515a8.b9e6e8",
                "7cca952c.c5c63c"
            ]
        ]
    },
    {
        "id": "b1221356.1bc918",
        "type": "ui_dropdown",
        "z": "12aef947.04cf3f",
        "name": "hour picker",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "96fe7d79.568de8",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "hour",
        "x": 880,
        "y": 300,
        "wires": [
            [
                "61e22b79.7d6ac4"
            ]
        ]
    },
    {
        "id": "ddebac87.84998",
        "type": "ui_dropdown",
        "z": "12aef947.04cf3f",
        "name": "minute picker",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "96fe7d79.568de8",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            },
            {
                "label": "",
                "value": 24,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 26,
                "type": "num"
            },
            {
                "label": "",
                "value": 27,
                "type": "num"
            },
            {
                "label": "",
                "value": 28,
                "type": "num"
            },
            {
                "label": "",
                "value": 29,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 31,
                "type": "num"
            },
            {
                "label": "",
                "value": 32,
                "type": "num"
            },
            {
                "label": "",
                "value": 33,
                "type": "num"
            },
            {
                "label": "",
                "value": 34,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 36,
                "type": "num"
            },
            {
                "label": "",
                "value": 37,
                "type": "num"
            },
            {
                "label": "",
                "value": 38,
                "type": "num"
            },
            {
                "label": "",
                "value": 39,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 41,
                "type": "num"
            },
            {
                "label": "",
                "value": 42,
                "type": "num"
            },
            {
                "label": "",
                "value": 43,
                "type": "num"
            },
            {
                "label": "",
                "value": 44,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 46,
                "type": "num"
            },
            {
                "label": "",
                "value": 47,
                "type": "num"
            },
            {
                "label": "",
                "value": 48,
                "type": "num"
            },
            {
                "label": "",
                "value": 49,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 51,
                "type": "num"
            },
            {
                "label": "",
                "value": 52,
                "type": "num"
            },
            {
                "label": "",
                "value": 53,
                "type": "num"
            },
            {
                "label": "",
                "value": 54,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            },
            {
                "label": "",
                "value": 56,
                "type": "num"
            },
            {
                "label": "",
                "value": 57,
                "type": "num"
            },
            {
                "label": "",
                "value": 58,
                "type": "num"
            },
            {
                "label": "",
                "value": 59,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "minute",
        "x": 900,
        "y": 340,
        "wires": [
            [
                "61e22b79.7d6ac4"
            ]
        ]
    },
    {
        "id": "c449e60f.8b3318",
        "type": "ui_button",
        "z": "12aef947.04cf3f",
        "name": "",
        "group": "96fe7d79.568de8",
        "order": 7,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "ok",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.validationColor}}",
        "icon": "",
        "payload": "OK",
        "payloadType": "str",
        "topic": "ok",
        "x": 860,
        "y": 400,
        "wires": [
            [
                "61e22b79.7d6ac4"
            ]
        ]
    },
    {
        "id": "23e5d460.e4a94c",
        "type": "ui_text",
        "z": "12aef947.04cf3f",
        "group": "96fe7d79.568de8",
        "order": 4,
        "width": "2",
        "height": "1",
        "name": "ON / OFF AT",
        "label": "{{msg.nextState}} AT :",
        "format": "",
        "layout": "row-center",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "61e22b79.7d6ac4",
        "type": "function",
        "z": "12aef947.04cf3f",
        "name": "set delay OR reset",
        "func": "\n\nif(msg.topic == \"state\")\n{\n    if(msg.state == \"OFF\")\n        context.set(\"nextState\", true)\n        \n    else \n        context.set(\"nextState\", false)\n        \n    //msg = {topic: \"cancel\", reset : true }\n    //return msg\n}\nif (msg.topic ==\"cancel\")\n{\n    msg = {topic: \"cancel\", reset : true }\n    return msg\n}\n\nif (msg.topic == \"hour\")\n{\n    context.set(\"hour\", msg.payload)\n}\nif (msg.topic==\"minute\")\n{\n    context.set(\"minute\", msg.payload)\n}\n\n\nif (msg.topic == \"ok\")\n{\n    dateTarget = new Date()\n    dateTarget.setHours(context.get(\"hour\"))\n    dateTarget.setMinutes(context.get(\"minute\"))\n    \n    dateNow = new Date()\n    dateNow.setTime(dateNow.getTime() + 3600000)\n    \n    //date.setTime( date.getTime() + days * 86400000 );\n\n    if(dateNow.getTime() > dateTarget.getTime())\n    {\n        dateTarget.setTime(dateTarget.getTime() + 86400000)\n    }\n    \n    dateTarget.setTime(dateTarget.getTime() - dateNow.getTime())\n    delay = dateTarget.getHours() * 60 * 60 * 1000 + dateTarget.getMinutes() * 1000 * 60\n    \n    if(!isNaN(delay))\n    {\n    //msg.reset = true\n    if (delay === 0)\n    {\n        delay = 60 * 1000\n    }\n    msg.topic = \"delayOk\"\n    msg.delay = delay\n    msg.dateTarget = dateTarget\n    msg.payload = context.get(\"nextState\")\n    msg.validationColor = \"#0094ce\"\n    return msg;\n    }\n    else\n    {\n        msg = {topic : \"delayNOT\", validationColor : \"lightGrey\"}\n        return msg\n    }\n\n\n}\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "c449e60f.8b3318",
                "113d1fd8.668758",
                "732dc88c.1ddd3",
                "76142de6.470cfc"
            ]
        ]
    },
    {
        "id": "d132e524.d41e5",
        "type": "delay",
        "z": "12aef947.04cf3f",
        "name": "",
        "pauseType": "delayv",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1510,
        "y": 300,
        "wires": [
            [
                "ae9db65f.8d9dd8"
            ]
        ]
    },
    {
        "id": "ae9db65f.8d9dd8",
        "type": "mqtt out",
        "z": "12aef947.04cf3f",
        "name": "",
        "topic": "coffee",
        "qos": "",
        "retain": "",
        "broker": "c7289251.327808",
        "x": 1670,
        "y": 300,
        "wires": []
    },
    {
        "id": "30631add.b11d16",
        "type": "inject",
        "z": "12aef947.04cf3f",
        "name": "",
        "topic": "",
        "payload": "state",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "b54a682f.ec282"
            ]
        ]
    },
    {
        "id": "b54a682f.ec282",
        "type": "mqtt out",
        "z": "12aef947.04cf3f",
        "name": "",
        "topic": "coffee",
        "qos": "",
        "retain": "",
        "broker": "c7289251.327808",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "f771ba87.e78208",
        "type": "mqtt in",
        "z": "12aef947.04cf3f",
        "name": "",
        "topic": "coffee_state",
        "qos": "2",
        "broker": "c7289251.327808",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "9f6ee0ef.db0c48"
            ]
        ]
    },
    {
        "id": "a08ac3c.405bcc",
        "type": "inject",
        "z": "12aef947.04cf3f",
        "name": "init pulse",
        "topic": "init",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "6184ecf1.13844c"
            ]
        ]
    },
    {
        "id": "6184ecf1.13844c",
        "type": "function",
        "z": "12aef947.04cf3f",
        "name": "int H, M & counter",
        "func": "\ndateNow = new Date(msg.payload)\n\ndateNow.setTime(dateNow.getTime())\n\nif (dateNow.getHours()==23)\n{\n    msg1 = {payload : 0}\n}\nelse\n{\n    msg1 = {payload : dateNow.getHours()+1}\n}\nmsg2 = {payload : dateNow.getMinutes()}\nmsg3 = {payload : \"\"}\n\nreturn [msg1, msg2, msg3]",
        "outputs": 3,
        "noerr": 0,
        "x": 600,
        "y": 320,
        "wires": [
            [
                "b1221356.1bc918"
            ],
            [
                "ddebac87.84998"
            ],
            [
                "6b5a18de.6be4d8"
            ]
        ]
    },
    {
        "id": "fa95239e.f2a84",
        "type": "inject",
        "z": "12aef947.04cf3f",
        "name": "",
        "topic": "timer",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 400,
        "y": 460,
        "wires": [
            [
                "113d1fd8.668758"
            ]
        ]
    },
    {
        "id": "113d1fd8.668758",
        "type": "function",
        "z": "12aef947.04cf3f",
        "name": "conter and cancel",
        "func": "if(msg.topic == \"delayOk\")\n{\n    context.set(\"count\", true)\n    if(msg.payload)\n    {\n        context.set(\"nextState\", \"ON\")\n    }\n    else\n    {\n        context.set(\"nextState\", \"OFF\")\n    }\n    context.set(\"dateTarget\", msg.dateTarget)\n}\n\nif (msg.topic == \"timer\" && context.get(\"count\"))\n{\n    time = new Date(context.get(\"dateTarget\") - 1000)\n    context.set(\"dateTarget\",time.getTime())\n    \n    if ((time.getHours() + time.getMinutes() + time.getSeconds()<=0) && context.get(\"count\"))\n    {\n        context.set(\"count\", false)\n        msg.payload =\"\"\n        msg.cancelColor = \"white\"\n        msg.enable = false\n        return msg\n    }\n    else \n    {\n        msg.nextState = context.get(\"nextState\") +\" IN :\"\n        msg.payload = time.getHours() +\":\"+ time.getMinutes()+\":\"+time.getSeconds()\n        msg.enable = true\n        msg.cancelColor = \"tomato\"\n        return msg\n    }\n}\n\nif (msg.topic == \"cancel\")\n{\n    context.set(\"count\", false)\n    msg.payload =\"\"\n    msg.enable = false\n    msg.cancelColor = \"white\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "6b5a18de.6be4d8",
                "41aa0f8a.d655"
            ]
        ]
    },
    {
        "id": "6b5a18de.6be4d8",
        "type": "ui_text",
        "z": "12aef947.04cf3f",
        "group": "96fe7d79.568de8",
        "order": 8,
        "width": "6",
        "height": "1",
        "name": "conter",
        "label": "{{msg.nextState}}",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "41aa0f8a.d655",
        "type": "ui_button",
        "z": "12aef947.04cf3f",
        "name": "cancel",
        "group": "96fe7d79.568de8",
        "order": 9,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "X",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.cancelColor}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "cancel",
        "x": 860,
        "y": 500,
        "wires": [
            [
                "61e22b79.7d6ac4"
            ]
        ]
    },
    {
        "id": "732dc88c.1ddd3",
        "type": "function",
        "z": "12aef947.04cf3f",
        "name": "reset",
        "func": "if(msg.topic == \"delayOk\" || msg.topic == \"cancel\")\n{\nmsg = {reset : true}\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1360,
        "y": 260,
        "wires": [
            [
                "d132e524.d41e5"
            ]
        ]
    },
    {
        "id": "76142de6.470cfc",
        "type": "delay",
        "z": "12aef947.04cf3f",
        "name": "pass ",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1360,
        "y": 300,
        "wires": [
            [
                "d132e524.d41e5"
            ]
        ]
    },
    {
        "id": "c7289251.327808",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "1st message",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "last message",
        "willTopic": "",
        "willQos": "0",
        "willPayload": "error message"
    },
    {
        "id": "96fe7d79.568de8",
        "type": "ui_group",
        "z": "",
        "name": "Coffee",
        "tab": "2ba477d3.6ec16",
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "2ba477d3.6ec16",
        "type": "ui_tab",
        "z": "",
        "name": "Kitchen",
        "icon": "fa-shopping-basket ",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]